
@{
    ViewData["Title"] = "ConfirmResetPassword";
    Layout = "~/Views/Layouts/_IdentityLayout.cshtml";
}

<div class="fp-box">
    <div class="logo">
        <a href="javascript:void(0);">Admin<b>BSB</b></a>
        <small>Admin BootStrap Based - Material Design</small>
    </div>
    <div class="card">
        <div class="body">
            <div class="msg">
                Password has been reseted successfully, please signin again!
            </div>

            <div class="row m-t-20 m-b--5 align-center">
                <a asp-controller="Account" asp-action="Signin">Sign In!</a>
            </div>
        </div>
    </div>
</div>

@section pageScript {
    <!-- pageScript Js -->
    <script src="~/js/pages/examples/forgot-password.js"></script>
}
