@model ADB.BL.Models.ResetPasswordVM

@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Layouts/_IdentityLayout.cshtml";
}

<div class="signup-box">
    <div class="logo">
        <a href="javascript:void(0);">Admin<b>BSB</b></a>
        <small>Admin BootStrap Based - Material Design</small>
    </div>
    <div class="card">
        <div class="body">
            <form id="sign_up" method="POST" asp-controller="Account" asp-action="ResetPassword">
                <input type="hidden" asp-for="Email" />
                <input type="hidden" asp-for="Token" />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="msg">Reset Your Password</div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">lock</i>
                    </span>
                    <div class="form-line">
                        <input type="password" class="form-control" asp-for="Password" placeholder="Password" autofocus />
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">lock</i>
                    </span>
                    <div class="form-line">
                        <input type="password" class="form-control" asp-for="ConfirmPassword" placeholder="Confirm Password" />
                    </div>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                @*<button class="btn btn-block btn-lg bg-pink waves-effect" type="submit">Reset Password</button>*@

                <input type="submit" value="Reset Password" class="btn btn-block btn-lg bg-pink waves-effect" />

                <div class="m-t-25 m-b--5 align-center">
                    <a asp-controller="Account" asp-action="Signin">You already have a membership?</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section pageScript {
    <!-- pageScript Js -->
    <script src="~/js/pages/examples/sign-up.js"></script>
}
